    body {
        margin: 0;
        background: rgb(52, 31, 66);
        text-align: center;
    }

    imagesbody {
        margin: 0;
        background: rgb(52, 31, 66);
        text-align: left;
    }