    body {
        margin: 0;
        /*background: #37203f;*/
        text-align: center;
    }
    gradientbody {
        margin: 0;
        height: 300vh;
        text-align: center;
        background: linear-gradient(-45deg, #37203f, #7A468B, #A874B9, #7A468B, #4D3D57);
        background-size: 200% 200%;
        animation: bg 12s ease infinite;
    }
    @keyframes bg {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 100%;
        }
        100% {
            background-position: 0% 50%;
        }
    }